
.abovePage {
  background-color: rgb(243, 243, 243);
  width: 100%;
  height: 1530px;
}
/********* 画像スライドショー *******/
.imageSlideShow {
  img {
    height: 720px;
    width: 100%;
    border-bottom-right-radius: 50% 40px;
    border-bottom-left-radius: 50% 40px;
    position: absolute;
    top: 0px;
  }
  img#slideshowPrev {
    z-index: 1;
  }
  img#slideshowNext {
    z-index: 0;
  }
}

.header {
  width: 100%;
  height: 122px;
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  .title {
    margin-top: 50px;
    margin-left: 10%;
    float: left;
    color: white;
    p#title {
      font-size: 30px;
      margin-bottom: 0;
      font-family: moon;
    }
    p {
      font-family: moon;
    }
  }
  ul{
    float: right;
    margin-top: 75px;
    margin-right: 7%;
    li{
      display: inline;
      text-decoration: none;
      margin-left: 40px;
      color: white;
      font-size: 14px;
      font-family: moon;
    }
  }
}
/************ 宣言文のスタイル ***********/
.declaration {
  position: absolute;
  top: 720px;
  width: 100%;
  height: 630px;
  margin: 50px 0 130px 0;
  .brief-text {
    width: 400px;
    margin-right: auto;
    margin-left : auto;
    p#tabi {
      text-align: center;
      font-size: 44px;
      font-weight: normal;
      letter-spacing: 0.1em;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    p#company-name {
      text-align: center;
      font-size: 30px;
    }
    p {
      font-size: 20px;
      letter-spacing: 0.1em;
      font-weight: 200;
    }
  }
}
/************ 商品紹介のスタイル ***********/
.product-list {
  width: 100%;
  .product-header {
    height: 75px;
    margin-top: 100px;
    .product-header-inner {
      margin: 20px 22%;
      font-family: moon;
      letter-spacing: 0.2em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        padding: 15px 50px;
        margin: 0;
        border: 1px solid black;
      }
      h2 {
        font-size: 30px;
        font-weight: 500;
      }
    }
  }
  ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }
  .first-column, .second-column {
    margin-bottom: 50px;
    margin-top: 50px;
    .column-inner {
      display: flex;
      margin: 0px 22%;
    }
    li {
      width: 27%;
      height: 400px;
      list-style: none;
      margin: 0px 30px 50px 30px;
      img {
        height: 300px;
        width: 100%;
        background-size: cover;
        margin-bottom: 20px;
        border-top-right-radius: 15%;
        border-bottom-right-radius: 15%;
        box-shadow: 5px 3px 5px 5px rgba(0,0,0,0.1);
      }
      img#product-1 {
        background-image: url(../../public/image/paspol-zekkei-1.jpeg)
      }
      img#product-2 {
        background-image: url(../../public/image/paspol-zekkei-2.jpeg)
      }
      img#product-3 {
        background-image: url(../../public/image/paspol-zekkei-3.jpeg)
      }
      img#product-4 {
        background-image: url(../../public/image/paspol-zekkei-4.jpeg)
      }
      img#product-5 {
        background-image: url(../../public/image/paspol-zekkei-5.jpeg)
      }
      img#product-6 {
        background-image: url(../../public/image/paspol-zekkei-6.jpeg)
      }
      h3 {
        letter-spacing: 0.2em;
      }
    }
  }
}
/************ お知らせのスタイル ***********/
.news {
  width: 100%;
  height: 1800px;
  background-color: rgb(243, 243, 243);
  .news-header {
    height: 75px;
    padding-top: 100px;
    padding-bottom: 100px;
    .news-header-inner {
      margin: 20px 22%;
      font-family: moon;
      letter-spacing: 0.2em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        padding: 15px 50px;
        margin: 0;
        border: 1px solid black;
      }
      h2 {
        font-size: 30px;
        font-weight: 500;
      }
    }
  }
  .news-articles {
    margin: 0 22%;
    ul {
      list-style: none;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 0px;
      li {
        display: flex;
        letter-spacing: 0.1em;
        margin-bottom: 50px;
        .article-content {
          width: 60%;
          p {
            font-size: 12px;
            color: gray;
          }
          h3 {
            margin: 0;
            font-size: 18px;
            letter-spacing: 0.2em;
          }
        }
        img {
          background-image: url(../../public/image/paspol-article.jpg);
          width: 40%;
          height: 170px;
          background-size: cover;
          margin-right: 30px;
        }
      }
    }
  }
}
/************ フッターのスタイル ***********/
.footer {
  width: 100%;
  .share-by-sns {
    height: 120px;
    background-color: white;
    .share-by-sns-inner{
      margin: 0 30%;
      height: 120px;
      ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
        padding-top: 40px;
      }
      li {
        margin-right: 40px;
        padding: 10px;
        border: 1px solid black;
        vertical-align: middle;
        font-size: 14px;
      }
      li#facebook {
        color: #4871a9;
        border: 1px solid #4871a9;
      }
      li#twitter {
        color: #70bdd3;
        border: 1px solid #70bdd3;
      }
      li#hatebu {
        color: #2f9bcd;
        border: 1px solid #2f9bcd;
      }
    }
  }
  .footer-links {
    height: 80px;
    background-color: rgb(156, 159, 160);
  }
  .paspol-footer {
    height: 150px;
    background-color: rgb(100, 106, 110);
  }
}